---
import ActivityForm from "../../components/ActivityForm";
import Layout from "../../layouts/MainLayout.astro";
import { activities } from "../../lib/data";

const { id } = Astro.params;
const activity = activities.find((activity) => activity.id === id);
---

<Layout title="Editar Actividad" currentRoute="equipo">
  <div
    class="absolute inset-0 grid h-screen pt-24 -z-10 lgn:pt-12 place-items-center"
  >
    <ActivityForm client:only activity={activity} />
  </div>
</Layout>
