---
import Layout from "../layouts/LoginLayout.astro";
import Input from "../components/Input.tsx";
import SubmitButton from "../components/SubmitButton.astro";
---

<Layout title="Bienvenido !" subtitle="Ingrese sus datos">
  <div class="flex flex-col w-5/6 gap-5 lgn:w-5/6 mt-7">
    <form class="flex flex-col gap-5">
      <Input
        title="Correo"
        formType="email"
        placeHolderLG="Ingrese su correo"
        placeHolderSM="Correo"
        logo="/email.svg"
        client:only
      />
      <Input
        title="Contraseña"
        formType="password"
        placeHolderLG="Ingrese su contraseña"
        placeHolderSM="Contraseña"
        logo="/password.svg"
        client:only
      />

      <div class="flex justify-between w-full">
        <div>
          <input type="checkbox" name="remember" />
          <label for="remember" class="text-sm text-zinc-700">Recuérdame</label>
        </div>
        <a href="/forgot-password" class="text-sm text-zinc-500"
          >Olvidó su contraseña?</a
        >
      </div>

      <SubmitButton text="Ingresar" />
    </form>
  </div>
  <h2 class="mt-6">
    No tienes cuenta? <a
      href="/register"
      target="_blank"
      class="text-primary-light">Regístrate</a
    >
  </h2>
</Layout>
<script>
  // FIXME: This is a temporary solution to avoid using a backend
  import { assistants, teachers } from "../lib/data.ts";

  const users = [...assistants, ...teachers];
  const button = document.getElementById("submit-button");
  if (button) {
    button.addEventListener("click", () => {
      const email = document.getElementById("email") as HTMLInputElement;
      const password = document.getElementById("password") as HTMLInputElement;
      const user = users.find(
        (u) => u.email === email.value && u.password === password.value
      );
      if (user) {
        localStorage.setItem("user", JSON.stringify(user));
        window.location.href = "/team";
      } else {
        alert("Usuario o contraseña incorrectos");
      }
    });
  }
</script>
