---
import Layout from "../layouts/LoginLayout.astro";
import Input from "../components/Input.tsx";
import SubmitButton from "../components/SubmitButton.astro";
---

<Layout title="Nueva contraseña" subtitle="Cree una nueva contraseña">
  <div class="flex flex-col w-5/6 gap-5 lgn:w-5/6 mt-7">
    <form autocomplete="off" class="flex flex-col gap-5">
      <Input
        title="Nueva contraseña"
        formType="password"
        placeHolderLG="Ingrese su nueva contraseña"
        placeHolderSM="Nueva contraseña"
        logo="/password.svg"
        client:only
      />
      <Input
        title="Confirmar contraseña"
        formType="password"
        placeHolderLG="Confirme su nueva contraseña"
        placeHolderSM="Confirmar contraseña"
        logo="/password.svg"
        client:only
      />
      <SubmitButton text="Validar" />
    </form>
  </div>
</Layout>
<script>
  // FIXME: This is a temporary solution to avoid using a backend

  // redirect function
  const button = document.getElementById("submit-button");
  if (button) {
    button.addEventListener("click", () => {
      window.location.href = "/";
    });
  }
</script>
