---
interface Props {
  text: string;
  ref?: string;
}

const { text, ref } = Astro.props;
---

<a
  id="submit-button"
  class="flex items-center justify-center w-full py-1 text-lg text-white transition duration-300 ease-in-out rounded-lg bg-primary-dark hover:bg-primary-light group"
>
  <label
    class="transition duration-300 ease-in-out group-hover:transform group-hover:scale-110"
    >{text}</label
  >
  <img
    src="/arrow-right.svg"
    alt="arrow-right"
    class="ml-2 transition duration-300 ease-in-out group-hover:transform group-hover:translate-x-1 group-hover:scale-110"
  />
</a>
